#boto_crear {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#contenidor_llista {
    background-color: inherit;
    overflow: auto;
    height: 40vh;
}
@media (min-width: 500px) {
    .titol {
        display: none;
    }
}