<md-sidenav flex class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked="true" md-selected-nav-item="selectedItem">
    <md-button md-is-locked-open="false" id="menu" ng-click="toggleMenu()" class="md-primary md-hue-2" aria-label="Crear">
        <md-icon md-svg-icon="img/icons/sets/menu-24px.svg"></md-icon>
    </md-button>
    <nav flex layout="column" layout-align="center center"aria-label="Barra de navegacio" >
        <a class="md-button" ui-sref="layout.home" ng-click="toggleMenu()">Home</a>
        <a class="md-button" ui-sref="layout.penyes" ng-click="toggleMenu()">Penyes</a>
        <a class="md-button" ui-sref="layout.missatges" ng-click="toggleMenu()">Missatges</a>
        <a class="md-button" ui-sref="layout.chart" ng-click="toggleMenu()">Chart</a>
    </nav>
</md-sidenav>